@media only screen and (max-width: 1023px) {
  header {
    background-color: var(--back);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
  }
  .container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
  }
  header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  header nav .left a:hover {
    color: var(--primary);
  }
  header nav {
    padding: 2rem 0;
  }
  header p {
    text-align: justify;
  }
  header nav .branding {
    margin-right: 3rem;
  }
  header h1 {
    font-size: 2px;
  }
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 480px) {
}
